[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crypto = "*"
flask = "*"
flask-cors = "*"
flask-environments = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
ipython = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"
